<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dl.bilibili.backend.mapper.CommentMapper">

    <resultMap id="commentResultMap" type="top.dl.bilibili.backend.model.vo.CommentVO">
        <id property="pkId" column="comment_id"/>
        <result property="content" column="comment_content"/>
        <result property="nickname" column="user_nickname"/>
        <result property="createTime" column="comment_create_time"/>
        <collection property="replyVOList" ofType="top.dl.bilibili.backend.model.vo.ReplyVO">
            <id property="pkId" column="reply_id"/>
            <result property="content" column="reply_content"/>
            <result property="nickname" column="reply_user_nickname"/>
            <result property="createTime" column="reply_create_time"/>
        </collection>
    </resultMap>

    <select id="selectCommentList" resultMap="commentResultMap">
        SELECT
            c.pk_id AS comment_id,
            c.content AS comment_content,
            c.create_time AS comment_create_time,
            u.nickname AS user_nickname,
            r.pk_id AS reply_id,
            r.content AS reply_content,
            r.create_time AS reply_create_time,
            ru.nickname AS reply_user_nickname
        FROM
            t_comment c
                LEFT JOIN
            t_user u ON c.user_id = u.pk_id
                LEFT JOIN
            t_reply r ON c.pk_id = r.comment_id
                LEFT JOIN
            t_user ru ON r.user_id = ru.pk_id
        WHERE
            c.video_id = #{query.videoId}
        AND c.delete_flag = 0
        AND r.delete_flag = 0
        AND u.delete_flag = 0
        AND ru.delete_flag = 0
        ORDER BY
            c.create_time DESC, r.create_time ASC
    </select>
    <select id="selectNewCommentList" resultMap="commentResultMap">
        SELECT
            c.pk_id AS comment_id,
            c.content AS comment_content,
            c.create_time AS comment_create_time,
            u.nickname AS user_nickname,
            r.pk_id AS reply_id,
            r.content AS reply_content,
            r.create_time AS reply_create_time,
            ru.nickname AS reply_user_nickname
        FROM
            t_comment c
                LEFT JOIN
            t_user u ON c.user_id = u.pk_id
                LEFT JOIN
            t_reply r ON c.pk_id = r.comment_id
                LEFT JOIN
            t_user ru ON r.user_id = ru.pk_id
        WHERE
            c.user_id = #{query.userId} AND c.delete_flag = 0
        ORDER BY
            c.create_time desc
    </select>

</mapper>